<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Корзина</title>
  <link rel="shortcut icon" href="../image/cloth.png" type="image/png">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/cart.css">
</head>
<body>
<div class="header">
  <!--главная надпись-->
  <div class="header-text">
    <a href="/">ClothingStore</a>
  </div>
  <!--меню-->
  <div class="menu">
    <div class="row">
      <a sec:authorize="isAnonymous()" href="/login"><img src="../image/login.png"></a>
      <a id="lout" sec:authorize="isAuthenticated()" href="/logout"><img src="../image/log-out.png"></a>
      <a href="profile/cart-product"><img src="../image/cart.png"></a>
    </div>
  </div>
</div>
<h1  class="cart">Корзина</h1>
<div class="container">
  <div class="rowrow" th:each="product : ${user.productList}">
    <div class="list-group">
      <span class="a">Product image</span>
      <img th:src="@{'/image/' + ${product.image}}" height="100">
    </div>
    <br>
    <div class="list-group">
      <span class="a">Product</span>
      <span class="b" th:text="${product.name}"></span>
    </div>
    <div class="list-group">
      <span class="a">Price</span>
      <span class="b" th:text="${product.price} + ' руб'"></span>
    </div>
  </div>
</div>
<div class="all">
  <span class="a" th:text="'Всего:  '+ ${total} + '  руб'"></span>
  <input style="margin-left: 2rem" type="submit" class="btn" value="Перейти к оплате">
</div>
</body>
</html>