/*НАСТРОЙКА ШАПКИ СТРАНИЦЫ И ФОНА*/

/*шрифты*/
@font-face {
    font-family: Boyarsky;
    src: url(../fonts/4217.ttf);
}
@font-face {
    font-family: Circe;
    src: url(../fonts/CirceRegular.ttf);
}

/*базовые настройки*/
* { outline: 0; padding: 0; margin: 0; border: 0; }
html {font-size: 10px;}
body {box-sizing: border-box;}

/*АДАПТИВ*/

/*ГЛАВНАЯ СТИЛИЗАЦИЯ*/

/*шапка страницы*/
.header {
    /*установка фиксированной позиции*/
    position: fixed;
    top: 0;
    height: 8rem;
    width: 100%;
    background: rgba(205, 180, 219, 0.8);
    /*применение flex для расположения блоков*/
    display: flex;
    justify-content: space-between;
}

/*расположение элементов по вертикали*/
.header-text a, .row, .img-list {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*стилизация ссылок шапки*/
.header-text a, .row a, .list a {
    text-decoration: none;
}

.row a img {
    width: 5rem;
    height: 5rem;
}

/*главная подпись*/
.header-text {width: 34rem;}

/*стилизация ссылки главной надписи*/
.header-text a {
    display: block;
    padding: 0 4rem;
    font-size: 5rem;
    color: #5f0f40;
    letter-spacing: 3px;
    font-family: Boyarsky, sans-serif;
}

/*меню*/
.row {
    width: 50rem;
    text-align: center;
}


/*футер*/
.footer {
    background-color: #CDB4DB;
    height: 10rem;
    text-align: center;
}

.footer img {
    margin: 1rem;
    height: 5rem;
    width: 5rem;
}

.footer span {
    font-family: Circe, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}
