<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Одежда</title>
    <link rel="shortcut icon" href="image/cloth.png" type="image/png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
<!--шапка страницы-->
<div class="header">
    <!--главная надпись-->
    <div class="header-text">
        <a href="/">ClothingStore</a>
    </div>
    <!--меню-->
    <div class="menu">
        <div class="row">
            <a href="/login"><img src="image/login.png"></a>
            <a href="stocks.html">Акции</a>
            <a href="information.html">Информация</a>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="content">
        <div class="types" th:each="element : ${map}">
        <h2 th:text="${element.key.name}"></h2>
        <div class="carts-type" >
            <a th:each="product : ${element.value}" th:href="${product.id}">
                <div class="cart">
                    <div class="img-cart"><img th:src="@{'/image/'} + ${product.image}"></div>
                    <p class="name" th:text="${product.name}"></p>
                    <p class="price" th:text="${product.price} + ' руб'"></p>
                </div>
            </a>
        </div>
        </div>
    </div>
    <div class="footer">
        <img src="image/vk-social-logotype.png" alt="vk">
        <img src="image/instagram.png" alt="instagramm">
        <img src="image/facebook.png" alt="facebook"> <br>
        <span>2021</span>
    </div>
</div>
</body>
</html>