<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход в аккаунт</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
<div class="header">
    <!--главная надпись-->
    <div class="header-text">
        <a href="/">ClothingStore</a>
    </div>
    <!--меню-->
    <div class="menu">
        <div class="row">
            <a href="/login"><img src="image/login.png"></a>
            <a href="stocks.html">Акции</a>
            <a href="information.html">Информация</a>
        </div>
    </div>
</div>
<form th:action="@{/login}" method="post">
        <div id="column-1" class="column">
        <img src="image/userse.png" height="100" width="100">
        <h2>Вход</h2>
        <img src="image/play.png" height="50" width="50">
    </div>
        <div id="column-2" class="column">
            <br>
            <div><label> Логин: <input type="text" class="input" name="username"/> </label></div>
            <br>
            <div><label> Пароль: <input type="password" class="input" name="password"/> </label></div>
            <div><input type="submit" class="submit" value="Войти"/></div>
            <a href="/registration" id="reg" class="submit">Зарегестрироваться</a>
        </div>
</form>

</body>
</html>