<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${product.name}"></title>
    <link rel="shortcut icon" href="image/cloth.png" type="image/png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/product.css">
</head>
<body>
<!--шапка страницы-->
<div class="header">
    <!--главная надпись-->
    <div class="header-text">
        <a href="../">ClothingStore</a>
    </div>
    <!--меню-->
    <div class="menu">
        <div class="row">
            <a href="">Меню</a>
            <a href="">Акции</a>
            <a href="">Информация</a>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="content">
        <h2 th:text="${product.name}"></h2>
        <div class="info">
            <div class="one">
                <img class="img-head" th:src="@{'/image/' + ${product.image}}"  alt="">
            </div>
            <div class="two">
                <p class="label">Характеристики</p>
                <li><span class="title">Страна</span><span class="head" th:text="${product.country}"></span></li>
                <li><span class="title">Материал</span><span class="head" th:text="${product.material}"></span></li>
                <p class="margin label">Цена</p>
                <span class="info-label" id="bold" th:text="${product.price} + ' руб'"></span>
            </div>
            <div class="three">
                <p class="label">Описание</p>
                <span class="info-label" th:text="${product.description}"></span>
            </div>
        </div>
        <div class="btn-back"><a href="/cart"><span>Добавить в корзину</span></a></div>
    </div>
    <div class="footer">
        <img src="image/vk-social-logotype.png" alt="vk">
        <img src="image/instagram.png" alt="instagram">
        <img src="image/facebook.png" alt="facebook"> <br>
        <span>2020</span>
    </div>
</div>
</body>
</html>